.homeDiv {
  display: flex;
  margin-top: 29px;
  margin-left: 7.81%;
  gap: 10px;
  align-items: center;
  margin-bottom: 81px;

  .home {
    width: 16px;
  }

  .arrow {
    width: 5px;
  }

  .textHome {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    color: #c4c4c4;
  }
}

.h1Institucional {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.1em;
}

.layoutPage {
  display: flex;
  margin-left: 7.81%;
  margin-top: 80px;
  margin-bottom: 70px;

  .layoutText {
    max-width: 58.44vw;
    margin-left: 30px;

    .layoutH2 {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 12px;
      margin-top: 10px;
    }

    .layoutP {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 13px;
      color: #7d7d7d;
    }
  }

  .buttonDiv {
    display: flex;
    flex-direction: column;
    width: 23.59vw;
    border-right: 1px solid #000000;

    .buttonActive {
      background: black !important;
      color: white !important;
    }

    .buttonLayout {
      border: 0;
      background: white;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      color: #7d7d7d;
      text-align: start;
      height: 39px;
      padding-left: 16px;
    }
  }

  .formDiv {
    width: 58.44vw;
    margin-left: 30px;

    .formH2 {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 12px;
    }

    .formContact {
      width: 100%;

      .formLabel {
        display: flex;
        margin-top: 12px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        padding-left: 15px;
      }

      .formLabelInstagram {
        display: flex;
        margin-top: 12px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        padding-left: 15px;
        padding-bottom: 12px;
      }

      .formSpan {
        float: right;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 12px;
        color: #ff0000;
        padding-right: 20px;
      }

      .formField {
        display: flex;
        width: 100%;
        border: 1px solid #100d0e;
        border-radius: 25px;
        height: 46px;

        &::placeholder {
          padding: 15px 0 15px 20px;
          font-family: "Roboto";
          font-weight: 400;
          font-size: 14px;
          color: #b9b7b7;
        }
      }

      .formConfirm {
        display: flex;
        margin: 13px 0 13px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 14px;
        justify-content: center;
        gap: 4px;

        label {
          text-decoration: underline;
        }

        span {
          color: #ff0000;
        }

        .confirmField {
          min-width: 1.41vw;
          border-radius: 3px;
        }
      }

      .buttonConfirm {
        background: black;
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        height: 52px;
        border-radius: 25px;
        letter-spacing: 0.05em;
      }

      .spanConfirm {
        display: flex;
        margin-top: 12px;
        color: #008000;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
