.Header {
  background: black;
  padding: 22px 0;
  color: white;

  .firstDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchDiv {
      width: 20.63vw;
      background: white;
      border-radius: 5px;
      border: 2px solid #f2f2f2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.79%;

      input {
        display: flex;
        font-size: 14px;
        height: 32px;
        border: 0;
        width: 100%;
        padding: 8px 44px 8px 16px;

        &::placeholder {
          color: #c6c6c6;
        }
      }

      img {
        cursor: pointer;
        display: flex;
        // width: 1.41vw;
        position: absolute;
        right: 20px;
      }
    }

    .headerButton {
      display: flex;
      gap: 55px;
      padding-right: 7.81vw;
      height: 28px;

      .buttonEntrar {
        cursor: pointer;
        justify-content: center;
        text-transform: uppercase;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        color: white;
        background: black;
        height: 28px;
        border: 0;
      }

      .cartButton {
        cursor: pointer;
        background: black;
        height: 28px;
        border: 0;

        img {
          display: flex;
          height: 28px;
        }
      }
    }

    .logo {
      display: flex;
      padding-left: 7.81vw;
    }

    .menuHamburguer {
      border: 0;
      background: black;
      padding-left: 16px;
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    height: 139px;

    .menuHamburguer {
      display: flex !important;
    }

    .logo {
      padding-left: 0 !important;
    }

    .buttonEntrar {
      display: none !important;
    }

    .searchDiv {
      width: 96.88% !important;
      position: absolute !important;
      top: 78px !important;
      left: 16px !important;
      right: 16px !important;
    }

    .headerButton {
      padding-right: 16px !important;
    }
  }
  .secondDiv {
    display: none !important;
  }
}

.secondDiv {
  background: black;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  padding: 14px 0 14px 7.81vw;
  gap: 55px;

  .secondHeaderButton {
    background: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
}
